
body { 
    margin: auto;
    width: 800px;
    color: #808080;
    background-color: #202020;
    text-align: center;
    font-family: helvetica;
    font-size: 14px;
}

h1 {
    color: white;
    text-align: center;
}
